
.cards{
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 23rem;
    height: 27rem;
    border-radius: 1rem; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 20px;
}
   

.cards:hover{
    object-fit: cover;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px 0.1px rgba(255, 254, 254, 0.4);
    transition: all 0.5s ease;
}

.descricaocard{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.cards h2 a {
    margin-left: 10px;
    font-size: 2rem;
    font-family: var(--font-f);
    display: inline-block;
    background: var(--cor-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    background-clip: text;
    position: relative;
    padding-bottom: 8px;
    
}
.descricaocard h2 a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 3px;
    margin-bottom: 10px;
    background: var(--bg-gradiente);
}

.cards p{
    color: white;
    font-size: 1em;
    font-family: var(--font-f);
    text-align: left;
    margin-inline: 0.875rem;
}



.cards img{
    position: relative;
    border-radius: 2%;
    width: 100%;
    transition: all 0.5 ease;
    cursor: pointer;
    filter: brightness(0.8);
}


.cardsh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 9rem;
    height: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem; 
    backdrop-filter: blur(10px);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.63);
    transition: all 0.5s ease;    
}

.cardsh h2{
    width: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 100%;
    font-family: var(--font-f);
    text-align: left;
}

.cardsh img{
    position: relative;
    border-radius: 2%;
    margin-top: 9px;
    width: 90%;
}

.cardsh:hover{
    object-fit: cover;
    transform:scale(1.05);
    transition: all 0.5s ease;
    box-shadow: var(--shadow-box-cards);
}