*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
    list-style: none;
}

/*Celular*/
@media (max-width: 450px){
    .conteiner {
        background-color: #ffffff;
        flex-direction: column;
    }
    .sobre {
        width: 100%;
        padding: 20px;
    }
    .foto {
        width: 100%;
        height: auto;
    }

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px){
    
}

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}   
