
.titulo-secao {
    font-size: 2rem;
    font-family: var(--font-f);
    display: inline-block;
    background: var(--cor-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    padding-bottom: 8px;
}

.titulo-secao::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: var(--bg-gradiente2);
}

/* ---Sobre --- */

.sectionSobre{
    scroll-margin-top: 90px;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}

.conteinerSobre{
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden; 
}

.foto{
    width: 100%;
    height: 100%;
}

.foto img{
    border-radius: 90%;
    width: 70%;
    height: auto;
}

.descricaosobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    max-width: 50%;
}

.descricaosobre p{
    color: var(--cor-letras);
    font-size: 1rem;
    padding-inline: 10%;
    font-family: var(--font-f);
    text-align: left;
}


.foto, .descricaosobre{
    opacity: 0;
    transition: transform 1.2s ease-out, opacity 1.2s ease-out; 
}

.foto{
    transform: translateX(-100px); 
}

.descricaosobre{
    transform: translateX(100px);
}

.conteinerSobre.visivel .foto,
.conteinerSobre.visivel .descricaosobre {
    opacity: 1;
    transform: translateX(0);
}

/* ---Habilidades --- */

.sectionHabilidades{
    scroll-margin-top: 90px;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 8rem auto;
    padding: 0 20px;
    text-align: center;
}

.tituloHabilidades{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    gap: 2rem;
}

.conteinerhabilidades{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: transparent;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5%;
}

.tituloHabilidades p{
    color: white;
    font-size: 1rem;
    padding-inline: 20%;
    font-family: var(--font-f);
    text-align: center;
}

/* ---Projetos --- */

.sectionProjetos{
    scroll-margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    margin: 8rem auto;
    padding: 0 20px;
    text-align: center;
}

.conteinerprojetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5%;
}

.tituloProjetos{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    gap: 2rem;
}

.tituloProjetos p{
    color: white;
    font-size: 1rem;
    font-family: var(--font-f);
    width: 100%;
    text-align: center;
}