/*Bug Card Dekstop*/
@media (max-width: 907px) {

    .cards{
        width: 18rem;
        height: 30rem;
    }

}
/*----spline-----*/
@media (max-width: 1050px) {

    .conteiner{
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .spline{
        width: 100%;
    }
    .herotitle{
        width: 100%;
    }


}

 /*===================================================== Tablet ==========================================================*/ 
@media (min-width: 415px) and (max-width: 768px)  {

    *{
    background-attachment: scroll;
    }

/*------------------------------------------------- Header ---*/
    .gitbutton {
        display:none;
    }   
/*------------------------------------------------- Hero ---*/

    .hero{
    background-attachment: scroll;
    }

   .navbar{
        width: 90%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .linksnav a {
     font-size: 0.8rem;
    }

    .h1natan {
        font-size: 4rem;
        line-height: 0.9;
    }
     .subtitulo{
        font-size: 2rem;
    }

    .decricao{
        font-size: 1rem;
    }
    .descricaosobre{
        width: 100%;
        max-width: 100%
    }
    .bt1{
        padding: 1rem 2rem;
        font-size: 0.8rem;
    }

    .bt2{
        padding: 1rem 2rem;
        font-size: 0.8rem;
    }

/*------------------------------------------------- Section sobre ---*/

    .conteinerSobre{
        flex-direction: column;
        gap: 1rem;
    }
    .foto img{
        width: 15rem;
        border-radius: 100%;
    }

/*-------------------------------------------------Section projetos---*/
  
    .conteinerprojetos {
        justify-content: center;
        width: 100%;
    }

    .cards {
        flex: 1 1 100%;
        width: 100%;
        height: auto;
    }
   
     .info h2{
        font-size: 1rem;
    }

    .info{
        font-size: 0.8rem;
    }

}
 /*=====================================================Mobile==========================================================*/ 
@media (max-width: 414px){ 
   
/*-------------------------------------------------header---*/

    header{
        width: 100%;
        padding: 30px 10px;
    }
    .navbar{
        width: 90%;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
     .linksnav {
       display: none;

    } 
   
    .linksnav a {
        text-align: center;
        font-size: 0.9rem;
        margin: 0 10px;
    }
/*-------------------------------------------------Hero---*/
  
    .h1natan{
        font-size: 3.5rem;
    }
    .descricaosobre{
        width: 100%;
        max-width: 100%
    }

    .subtitulo{
        font-size: 1.5rem;
    }

    .decricao{
        font-size: 0.8rem;
    }

    .bt1{
        padding: 1rem 2rem;
        font-size: 0.8rem;
    }

    .bt2{
        padding: 1rem 2rem;
        font-size: 0.8rem;
    }

/*--------------------------------------------------Section Sobre---*/

    .conteinerSobre{
        flex-direction: column;
        gap: 1rem;
    }

     .foto img{
        width: 15rem;
        border-radius: 100%;
    }
    .sectionSobre{
        margin: 2rem auto;
    }
   
/*-------------------------------------------------Section Projetos---*/

     .cards {
        flex: 1 1 100%;
        width: 100%;
        height: auto;
    }
    
    .descricaocard h2 a {
        font-size: 1.3rem;
    }

     .fotodiv{
        background-image: url(imgs/cordel3.png);
        background-size: cover;
        background-position: center;
    }

    .cardsh{
        width: 8rem;
        transition: all 1s ease;
    }
    .cardsh h2{
        font-size: 0.8rem;
    }

/*-------------------------------------------------Section footer---*/

    .info h2{
        font-size: 1rem;
    }

    .info{
        font-size: 0.6rem;
    }
 }

 /*===================================================== Tela Pequena ==========================================================*/ 
@media (max-width: 240px){

        .linksnav a {
            font-size: 0.6rem;
        }
    
        .h1natan{
            font-size: 2.5rem;
        }
    
        .subtitulo{
            font-size: 1rem;
        }
    
        .decricao{
            font-size: 0.6rem;
        }
    
        .bt1{
            padding: 0.5rem 1rem;
            font-size: 0.6rem;
        }
    
        .bt2{
            padding: 0.5rem 1rem;
            font-size: 0.6rem;
        }

        .titulo-secao{
            font-size: 1rem;
        }
        .descricaosobre p {
            font-size: 0.7rem;
        }

         .tituloHabilidades p {
            font-size: 0.7rem;
        }
       
        .cardsh img{
            width:2.7rem;
            height: auto;
        }
        .cardsh{
            width: 6rem;
            height: 6rem;
            transition: all 1s ease;
            padding: 0 0;
           
        }

        .cardsh h2 {
            font-size: 0.8rem;
            padding-top: 1rem;
        }

         .tituloProjetos p {
            font-size: 0.7rem;
        }
     

        .cards {
            flex: 1 1 100%;
            width: 100%;
            height: auto;
            padding: 0;
        }   
        
        .descricaocard h2 {
            width: 100%;
            text-align: center;
    
        }
        .descricaocard h2 a {
            font-size: 1rem;
            margin: 0;
            width: 100%;
        }
       .descricaocard p{
            display: none;
            align-items: center;
        }

        .descricaocard h2 a::after {
         width: 90%;
         left: 5%;
        }

        .direitos p{
            font-size: 0.5rem;
         }
 }