header{
    background-color: #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header h1{
    color: rgb(111, 255, 0);
    font-size: 3rem;
    font-weight: bold;
}
header span{
    color: white;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #000000;
    padding: 10px 0;
    text-align: right;
}

ul li a{
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{

    border-radius: 4%;
    color: #989898;
    background-color: #98989834;
}

