@import url(global.css);
@import url(nav.css);


.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre {
    width: 60%;
    padding: 20px;
}

 h2{
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(111, 255, 0);
}

.foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.projetos, .habilidades, .sobre {
   width: 100%;
    padding: 60px;
    text-align: center;
}

.logos {
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.logos img {
    width: 100px;
    height: 100px;
}
