@import url(global.css);
@import url(nav.css);


.conteiner {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre {
    padding:0px;
    width: 50vw;
}

 h2{
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(111, 255, 0);
}

p{
    font-size: 1.2rem;
    line-height: 1.6;
}

.fotodiv {
   font-size: 50%;
}
.fotopng {
    width: 100%;
    height: auto;
}

.projetos, .habilidades, .sobre, .contato {
    height: 20rem;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.logos {
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.logos img {
    width: 100px;
    height: 100px;
}
